@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --cor-de-fundo: #002e24;
    --cor-de-texto: white;
    --fundo-senha: #004d40;
    --fundo-texto: #00fff2;
    --borda: #00ffff;
}

*{
    font-weight: 400;
}

body{
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
}

.titulo-principal{
    font-weight: 700;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}