@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --cor-de-fundo: #00162E;
    --cor-de-texto: white;
    --fundo-senha: #00244D;
    --fundo-texto: #0075FF;
    --borda: #0075FF;
}

*{
    font-weight: 400;
}

body{
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
}